@media (min-width: 1200px) and (max-width: 1400px) {


	/*slides*/
	.slideWrapper .slideTitle {
		font-size: var(--titleFontSizeMobile);
	}

	.slideText {
		font-size: var(--defaultFontSizeMobile);
	}

	.slideBlocks {
		width: 330px;
	}

	.slideImg {
		width: 300px;
	}

	.slideBlocks h1 {
		font-size: var(--releaseTextFontSizeMobile);
	}

	.slideBlocks p {
		font-size: var(--defaultFontSizeMobile);
	}



	/*página contatos assessores*/
	.contatosAssessoresUnitTitle amp-img {
		width: 50px;
		height: 50px;
	}

	.contatosAssessoresWrapper {
		padding: 10px;
	}

	.contatosAssessoresWrapperUnit {
		padding: 10px;
	}


	.contatosAssessoresWrapperUnit p  {
		font-size: 14px;
	}

	.contatosAssessoresUnitTitle h1 {
		font-size: 18px;
	}




	.sectionVideos {
		grid-template-columns: repeat(2, 1fr);
	}
}






















@media (min-width: 950px) and (max-width: 1199px) {


	/*slides*/
	.slideContainer {
		padding: 0 100px;
	}

	.slideWrapper {
		justify-self: start;
		align-self: start;
		grid-template-rows: repeat(5, auto);
	}

	.slideWrapper .slideTitle {
		font-size: var(--releaseTextFontSizeMobile);
	}

	.bgBlock {
		height: 100%;
		top: 44%;
	}

	.slideText {
		font-size: var(--dateFontSizeMobile);
	}

	.slideBlocks {
		width: 250px;
	}

	.slideImg {
		width: 250px;
		height: 400px;
	}

	.slideBlocks h1 {
		font-size: var(--defaultFontSizeMobile);
	}

	.slideBlocks p {
		font-size: var(--dateFontSizeMobile);
	}





	/*página contatos assessores*/
	.contatosAssessoresUnitTitle amp-img {
		width: 50px;
		height: 50px;
	}

	.contatosAssessoresWrapper {
		padding: 10px;
	}

	.contatosAssessoresWrapperUnit {
		padding: 10px;
	}


	.contatosAssessoresWrapperUnit p  {
		font-size: 14px;
	}

	.contatosAssessoresUnitTitle h1 {
		font-size: 18px;
	}


	.contatosGrid {
	    width: 95%;
	    max-width: 1100px;
	    padding: 10px;
	    margin-bottom: 120px;
	    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	    grid-gap: 20px;
	}
}
































@media (min-width: 700px) and (max-width: 949px) {

	/*header*/
	.logoHeaderWrapper {
		grid-row: 2 / 4;
	}
	.headerMenu {
		grid-column: 1 / -2;
	}

	.buscaWrapper {
		margin-top: 30px;
		justify-self: end;
		width: 280px;
		margin-right: 10px;
	}
	.headerCDNLogo {
	    width: 160px;
	}
	.logoHeaderWrapper span {
	    font-size: 16px;
	}

.header {
	grid-template-columns: auto 1fr auto auto;
}

.contatosAssessoresContainer {
	align-self: flex-end;
	margin-left: 10px;
	}

	.contatosAssessoresContainer a span {
		font-size: var(--defaultFontSizeMobile);
	}


.clienteHeaderTag {
	margin-bottom: 60px;
}

.clienteHeaderTag h1 {
	font-size: var(--subTitleFontSize);
}










	/*slides*/
	/*slides*/
	.slideContainer {
		/*width: 100vw;*/
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 0;
		grid-row-gap: 60px;
		left: 20px;
		padding: 0 60px;
	}

	.slideWrapper {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}

	.slidesBtnsWrapper {
		align-items: flex-start;
		justify-content: flex-end;
		top: -100px;
		right: 40px;
		height: auto;
	}

	.slidesLeftArrowBtn {
		margin-right: 50px;
	}

	.slideWrapper .slideTitle {
		font-size: var(--releaseTextFontSizeMobile);
	}

	.slideText {
		font-size: var(--dateFontSizeMobile);
	}

	.slideBlocks {
		width: 90%;
		height: 100%;
		grid-row: 2 / 3;
	}

	.slideBlocksFirst {
		grid-column: 1 / 2;
		order: 2;
	}

	.slideBlocksSecond {
		grid-column: 2 / 3;
		order: 3;
	}

	.slideImg {
		width: 250px;
		height: 300px;
	}

	.slideBlocks h1 {
		font-size: var(--defaultFontSizeMobile);
	}

	.slideBlocks p {
		font-size: var(--dateFontSizeMobile);
	}














	/*more content*/
	.moreContentContainer {
		grid-template-columns: 1fr;
	}


















	.contatosWrapperUnit {
		grid-column: 1 / -1;
	}















	/*página contatos assessores*/
	.contatosAssessoresUnitTitle amp-img {
		width: 50px;
		height: 50px;
	}

	.contatosAssessoresWrapper {
		padding: 10px;
	}

	.contatosAssessoresWrapperUnit {
		padding: 10px;
	}

	.contatosAssessoresWrapperUnit p  {
		font-size: 14px;
	}

	.contatosAssessoresUnitTitle h1 {
		font-size: 18px;
	}


	.contatosGrid {
	    width: 100%;
	    padding: 10px;
	    margin-bottom: 120px;
	    grid-template-columns: 1fr;
	}
}





























@media (min-width: 500px) and (max-width: 699px) {


	/*header*/
	.logoHeaderWrapper {
		grid-row: 2 / 4;
	    margin-left: 5px;
	}
	.headerMenu {
		grid-column: 1 / -1;
	}

	.buscaWrapper {
		/*margin-top: 10px;*/
		align-self: start;
		grid-row: 3 / 4;
		justify-self: end;
		width: 280px;
	}

	.headerCDNLogo {
	    width: 160px;
	}

	.logoHeaderWrapper span {
	    font-size: 16px;
	}
	.headerSocialBtnsWrapper {
		grid-row: 2 / 3;
	}




.contatosAssessoresContainer {
	grid-column: 2 / span 2;
	margin: 10px;
	align-self: center;
	justify-self: center;
}

.contatosAssessoresContainer a span{
	font-size: var(--dateFontSizeMobile);
}


.clienteHeaderTag {
	margin-bottom: 0px;
	margin-top: 40px;
}

.clienteHeaderTag h1 {
	font-size: var(--subTitleFontSize);
}









	/*slides*/
	/*slides*/
	.slideContainer {
		/*width: 90vw;*/
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 0;
		grid-row-gap: 60px;
		padding: 0 50px;
	}

	.slidesOverflow {
		align-items: start;
	}

	.slideWrapper {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		grid-template-columns: 1fr 1fr;
	}

	.slidesBtnsWrapper {
		justify-content: space-between;
		width: 100%;
		height: 400px;
	}

	.slidesBtnsWrapper div {
		background-color: var(--grayGreenColor);
		align-items: center;
		justify-content: center;
		padding: 7px;
		width: 30px;
		border-radius: 4px;
	}

	.slidesBtnsWrapper div svg {
		width: 20px;
		height: auto;
	}

	.slideWrapper .slideClienteLogoWrapper {
		grid-column: 1 / -1;
		justify-self: flex-end;
		margin-right: 5vw;
	}

	.slidesLeftArrowBtn {
		margin-right: 50px;
	}

	.slideWrapper .slideTitle {
		font-size: var(--releaseTextFontSizeMobile);
		grid-column: 1 / -1;
		grid-row: 3 / 4;
		margin-top: 20px;
	}

	.slideText {
		font-size: var(--dateFontSizeMobile);
		grid-column: 1 / -1;
		grid-row: 4 / 5;
	}

	.slideBlocks {
		width: 100%;
		height: 100%;
	}

	.slideBlocksFirst {
		grid-column: 1 / -1;
	}

	.slideBlocksSecond {
		grid-column: 1 / -1;
	}

	.slideImg {
		width: 100%;
		height: 350px;
		grid-column: 1 / -1;
		grid-row: 2 / 3;
	}

	.slideWrapper .slideData {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}

	.bgBlock {
		height: 60%;
		top: 26%;
	}

	.plusBtn {
		grid-column: 1 / -1;
	}

	.slideBlocks h1 {
		font-size: var(--defaultFontSizeMobile);
	}

	.slideBlocks p {
		font-size: var(--dateFontSizeMobile);
	}






.releaseLegendaImg {
	text-align: center;
	bottom: -45px;
}








	/*more content*/
	.moreContentContainer {
		grid-template-columns: 1fr;
	}














	.releaseTopSectionTitle {
		font-size: var(--releaseTitleFontSizeMobile);
		margin: 0 auto;
		width: 90%;
	}


	.releaseTopSectionSubtitle {
		font-size: var(--titleFontSizeMobile);
		width: 90%;
	}

	.imgPrincipal {
		height: 38vh;
	}


	.contatosWrapperUnit {
		grid-column: 1 / -1;
	}


	.releaseContentWrapper .contentTopSection .slideData {
		margin-bottom: 20px;
	}
















	/*página contatos assessores*/
	.contatosAssessoresUnitTitle amp-img {
		width: 90px;
		height: 90px;
	}

	.contatosAssessoresUnitTitle {
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;
		justify-items: center;
		grid-row-gap: 20px;
	}

	.contatosAssessoresWrapper {
		padding: 10px;
	}

	.contatosAssessoresWrapperUnit {
		padding: 10px;
	}



	.contatosHeader {
		height: 200px;
	}

	.contatosAssessoresWrapperUnit p  {
		font-size: 14px;
	}

	.contatosAssessoresUnitTitle h1 {
		font-size: 18px;
	}

	.contatosGrid {
		width: 100%;
		padding: 10px;
		margin-bottom: 120px;
		grid-template-columns: 1fr;
	}

	.contatosTitle {
		font-size: 20px;
		width: 100%;
		margin-top: 30px;
	}

}


































@media (min-width: 420px) and (max-width: 499px) {
	.logoHeaderWrapper {
		grid-row: 1 / 3;
		grid-column: 1 / 2;
	    margin: 20px 0 0 20px;
	}
	.headerMenu {
		display: none;
	}

	.buscaWrapper {
		grid-row: 4 / 5;
		grid-column: 1 / -1;
		justify-self: center;
		width: 290px;
		margin: 20px 0 0 0;
	}

	.headerCDNLogo {
	    width: 160px;
	}

	.logoHeaderWrapper span {
	    font-size: 16px;
	}
	.headerSocialBtnsWrapper {
		grid-row: 1 / 3;
		grid-column: -2 / -1;
		flex-direction: column;
	}

	.hamburguerBtn {
		display: flex;
		grid-column: 2 / 4;
		grid-row: 1 / 2;
		align-items: center;
		justify-content: center;
		margin-top: 15px;
	}





.contatosAssessoresContainer {
	grid-column: 1 / -1;
	grid-row: 3 / 4;
	margin: 10px;
	align-self: center;
	justify-self: center;
}

.contatosAssessoresContainer a span{
	font-size: var(--dateFontSizeMobile);
}


.clienteHeaderTag {
	margin-bottom: 0px;
	margin-top: 40px;
	grid-template-columns: 1fr auto 0.3fr;
}

.clienteHeaderTag h1 {
	font-size: var(--subTitleFontSize);
}

.clienteHeaderTagLogoPadding::after {
	right: -60px;
}

.clienteHeaderTagLogoWrapper {
	width: 100px;
	height: 57px;
}





	/*slides*/
	/*slides*/
	.slideContainer {
		/*width: 90vw;*/
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 0;
		grid-row-gap: 60px;
		padding: 0 50px;
	}

	.slidesOverflow {
		align-items: start;
	}

	.slideWrapper {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		grid-template-columns: 1fr 1fr;
	}

	.slidesBtnsWrapper {
		justify-content: space-between;
		align-items: flex-end;
		width: 100%;
		height: 500px;
		padding: 10px;
	}

	.slidesBtnsWrapper div {
		background-color: var(--grayGreenColor);
		align-items: center;
		justify-content: center;
		padding: 7px;
		width: 30px;
		border-radius: 4px;
	}

	.slidesBtnsWrapper div svg {
		width: 20px;
		height: auto;
	}

	.slideWrapper .slideClienteLogoWrapper {
		grid-column: 1 / -1;
		justify-self: flex-end;
		margin-right: 5vw;
	}

	.slidesLeftArrowBtn {
		margin-right: 50px;
	}

	.slideWrapper .slideTitle {
		font-size: var(--releaseTextFontSizeMobile);
		grid-column: 1 / -1;
		grid-row: 3 / 4;
		margin-top: 20px;
	}

	.slideText {
		font-size: var(--dateFontSizeMobile);
		grid-column: 1 / -1;
		grid-row: 4 / 5;
	}

	.slideBlocks {
		width: 100%;
		height: 100%;
	}

	.slideBlocksFirst {
		grid-column: 1 / -1;
	}

	.slideBlocksSecond {
		grid-column: 1 / -1;
	}

	.slideImg {
		width: 100%;
		height: 350px;
		grid-column: 1 / -1;
		grid-row: 2 / 3;
	}

	.slideWrapper .slideData {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		margin-bottom: 10px;
	}

	.bgBlock {
		height: 60%;
		top: 26%;
	}

	.plusBtn {
		grid-column: 1 / -1;
	}

	.slideBlocks h1 {
		font-size: var(--defaultFontSizeMobile);
	}

	.slideBlocks p {
		font-size: var(--dateFontSizeMobile);
	}














	/*more content*/
	.moreContentContainer {
		grid-template-columns: 1fr;
	}




.releaseLegendaImg {
	text-align: center;
	bottom: -45px;
}










	.releaseTopSectionTitle {
		font-size: var(--releaseTitleFontSizeMobile);
		margin: 0 auto;
		width: 90%;
	}


	.releaseTopSectionSubtitle {
		font-size: var(--titleFontSizeMobile);
		width: 90%;
	}

	.imgPrincipal {
		height: 30vh;
	}


	.contatosWrapperUnit {
		grid-column: 1 / -1;
	}


.releaseContentWrapper .contentTopSection .slideData {
		margin-bottom: 20px;
	}





.releaseFilesWrapper {
	padding: 10px;
}



	.releaseFilesContainer {
		padding: 20px 10px 10px 10px
	}















		/*página contatos assessores*/
	.contatosAssessoresUnitTitle amp-img {
		width: 90px;
		height: 90px;
	}

	.contatosAssessoresUnitTitle {
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;
		justify-items: center;
		grid-row-gap: 20px;
	}

	.contatosAssessoresWrapper {
		padding: 10px;
	}

	.contatosAssessoresWrapperUnit {
		padding: 10px;
	}



	.contatosHeader {
		height: 200px;
	}

	.contatosAssessoresWrapperUnit p  {
		font-size: 14px;
	}

	.contatosAssessoresUnitTitle h1 {
		font-size: 18px;
	}

	.contatosGrid {
		width: 100%;
		padding: 10px;
		margin-bottom: 100px;
		grid-template-columns: 1fr;

	}

	.contatosTitle {
		font-size: 20px;
		width: 100%;
		margin-top: 30px;
	}


}


























@media (min-width: 320px) and (max-width: 419px) {
	.logoHeaderWrapper {
		grid-row: 1 / 3;
		grid-column: 1 / 2;
	    margin: 10px 0 0 10px;
	}
	.headerMenu {
		display: none;
	}

	.buscaWrapper {
		grid-row: 4 / 5;
		grid-column: 1 / -1;
		justify-self: center;
		width: 290px;
		margin: 20px 0 0 0;
	}

	.headerCDNLogo {
	    width: 160px;
	}

	.logoHeaderWrapper span {
	    font-size: 16px;
	}
	.headerSocialBtnsWrapper {
		grid-row: 1 / 3;
		grid-column: -2 / -1;
		flex-direction: column;
		margin: 5px;
	}

	.hamburguerBtn {
		display: flex;
		grid-column: 2 / 4;
		grid-row: 1 / 2;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}



.contatosAssessoresContainer {
	grid-column: 1 / -1;
	grid-row: 3 / 4;
	margin: 10px;
	align-self: center;
	justify-self: center;
}

.contatosAssessoresContainer a span{
	font-size: var(--dateFontSizeMobile);
}



.contatosAssessoresContainer {
	grid-column: 1 / -1;
	grid-row: 3 / 4;
	margin: 10px;
	align-self: center;
	justify-self: center;
}

.contatosAssessoresContainer a span{
	font-size: var(--dateFontSizeMobile);
}


.clienteHeaderTag {
	margin-bottom: 0px;
	margin-top: 40px;
	grid-template-columns: auto auto 20px;
}

.clienteHeaderTag h1 {
	font-size: var(--subTitleFontSize);
}

.clienteHeaderTagLogoPadding::after {
	right: -60px;
	display: none;
}

.clienteHeaderTagLogoWrapper {
	width: 100px;
	height: 57px;
}






	/*slides*/
	/*slides*/
	.slideContainer {
		width: 100vw;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 0;
		grid-row-gap: 60px;
		padding: 25px;
	}

	.slidesOverflow {
		align-items: start;
	}

	.slideWrapper {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		grid-template-columns: 1fr 1fr;
	}

	.slidesBtnsWrapper {
		justify-content: space-between;
		align-items: flex-end;
		width: 100%;
		height: 400px;
		padding: 10px;
	}

	.slidesBtnsWrapper div {
		background-color: var(--grayGreenColor);
		align-items: center;
		justify-content: center;
		padding: 7px;
		width: 30px;
		border-radius: 4px;
	}

	.slidesBtnsWrapper div svg {
		width: 20px;
		height: auto;
	}

	.slideWrapper .slideClienteLogoWrapper {
		grid-column: 1 / -1;
		justify-self: flex-end;
		margin-right: 0vw;
		top: 40px;
	}

	.slidesLeftArrowBtn {
		margin-right: 50px;
	}

	.slideWrapper .slideTitle {
		font-size: var(--releaseTextFontSizeMobile);
		grid-column: 1 / -1;
		grid-row: 3 / 4;
		margin-top: 20px;
	}

	.slideText {
		font-size: var(--dateFontSizeMobile);
		grid-column: 1 / -1;
		grid-row: 4 / 5;
	}

	.slideBlocks {
		width: 100%;
		height: 100%;
	}

	.slideBlocksFirst {
		grid-column: 1 / -1;
	}

	.slideBlocksSecond {
		grid-column: 1 / -1;
	}

	.slideImg {
		width: 100%;
		height: 350px;
		grid-column: 1 / -1;
		grid-row: 2 / 3;
	}

	.slideWrapper .slideData {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}

	.bgBlock {
		height: 50%;
		width: 100%;
		top: 21%;
		left: -18px;
	}

	.plusBtn {
		grid-column: 1 / -1;
	}

	.slideBlocks h1 {
		font-size: var(--defaultFontSizeMobile);
	}

	.slideBlocks p {
		font-size: var(--dateFontSizeMobile);
	}









	/*more content*/
	.moreContentContainer {
		grid-template-columns: 1fr;
	}

	.contentTopSectionTitle {
		font-size: var(--titleFontSize);
	}

	.contentWithImgUnitWrapper {
		/*width: 90%;*/
	}

	.contentWithImgWrapper {
		padding: 0 10px;
	}


	.imgUnitWrapper {
		width: 85%;
		height: 250px;
		margin: 0 auto;
	}
















	.releaseTopSectionTitle {
		font-size: var(--titleFontSizeMobile);
		margin: 0 auto;
		width: 90%;
		letter-spacing: -1px;
	}

	.releaseTopSectionSubtitle {
		font-size: var(--releaseTextFontSizeMobile);
		width: 90%;
		letter-spacing: 0px;
	}

	.imgPrincipal {
		height: 30vh;
	}

	.sobreWrapper p {
		font-size: var(--defaultFontSizeMobile);
	}

	.completeContatosLine p {
		font-size: var(--defaultFontSizeMobile);
	}


	.contatosClientesWrapper {
	    margin-top: 50px;
	    padding: 10px;
	}

	.contatosClientesWrapperUnit {
		padding: 10px;
		width: 100%;
	}


	.contatosWrapperUnit {
		grid-column: 1 / -1;
	}



	.releaseText {
		font-size: var(--subTitleFontSizeMobile);
	}


	.releaseText a {
		font-weight: var(--boldFontWeight);
		font-size: var(--releaseTextFontSize);
	}



.releaseContentWrapper .contentTopSection .slideData {
		margin-bottom: 20px;
	}



.releaseFilesWrapper {
	padding: 10px;
}



	.releaseFilesContainer {
		padding: 20px 10px 10px 10px
	}







.releaseLegendaImg {
	text-align: center;
	bottom: -45px;
}





		/*página contatos assessores*/
	.contatosAssessoresUnitTitle amp-img {
		width: 90px;
		height: 90px;
	}

	.contatosAssessoresUnitTitle {
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;
		justify-items: center;
		grid-row-gap: 20px;
	}

	.contatosAssessoresWrapper {
		padding: 10px;
	}

	.contatosAssessoresWrapperUnit {
		padding: 10px;
	}



	.contatosHeader {
		height: 200px;
	}

	.contatosAssessoresWrapperUnit p  {
		font-size: 14px;
	}

	.contatosAssessoresUnitTitle h1 {
		font-size: 18px;
	}

	.contatosGrid {
		width: 100%;
		padding: 10px;
		margin-bottom: 100px;
		grid-template-columns: 1fr;

	}

	.contatosTitle {
		font-size: 20px;
		width: 100%;
		margin-top: 30px;
	}

}